*{
    padding: 0px;
    margin: 0px;
    font-family: Open Sans;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 200px;

}
.nav_title{
color: #181818;
font-size: 45px;
font-weight: 800;
line-height: normal;
}
span{
    color: #FD6E0A;
}
nav > ul{
    display: flex;
    align-items: center;

}
nav li {
list-style: none;
margin-right: 50px;
}
nav li a{
    text-decoration: none;
    color: #474747;
}
.btn_primary{
border-radius: 5px;
background: #FD6E0A;
color:#FFF;
text-align: center;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: normal;
border: 0;
padding: 9px;

}

.header{
    background-color: #FFF8F3;
    background-image: url("./port images/header_bg.png");
    background-repeat: no-repeat;
    background-position: bottom right;
}
.banner{
    padding: 30px 30px 0px 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.banner_img{
    width: 500px;
}
.bannera_gretting{
    font-size: 45px;
    color: #474747;
}
.banner_heading{
    color:#181818;
    font-size: 85px;
    font-weight: 700;
    line-height: normal;
    margin-top: 8px;
    margin-bottom: 20px;
}
.banner_descreption{
color:  #757575;
text-align: justify;
font-size: 18px;
font-weight: 400;
margin-bottom: 30px;
}
.banner_conatant{
    max-width: 500px;
}
.about{
    padding: 130px;
    border-radius: 10px;
    background: #FFF8F3;
    margin: 130px 0;
}
main{
    max-width: 1140px;
    margin: 0px 100px;
}

.section_title{
color:  #181818;
text-align: center;
font-size: 35px;
font-weight: 800;
padding: 40px 0;

}
.section_description{
    color:  #757575;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;  
    margin-bottom: 50px;
}
.about_info_container{
    display: flex;
    justify-content: space-around;

}
.about_info{
color: #757575;
text-align: center;
font-size: 20px;


}
.info_description{
color: #757575;
text-align: center;
font-size: 15px;


}
.skils_container{
    display: flex;
    gap: 25px;
   

}
.skils{
    padding: 25px;
    
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}
.skils_description{
color:#757575;
font-size: 16px;
font-weight: 400;

}
.skils_icons{
color: #181818;
text-align: center;
font-size: 20px;

}
.slils_title{
    padding: 15px 0;
}
.education_title{
    color:#474747;
    font-size: 30px;
    font-weight: 700; 
}
.resume_container{
    display: flex;
    gap: 50px;
}
.institute_name{
    color:#757575;
    font-size: 18px;
    font-weight: 600; 
    padding: 15px 0px;
}
.resume_itemtitle{
    color:#474747;
    font-size: 20px;
    padding: 15px 0px;

}
.resume_descriptioon{
color:#757575;
font-size: 16px;
font-weight: 400;
}
.resume_item{
    padding: 20px 0px;

}
hr{
    margin: 10px 0;
}
.download_cv{
    text-align: center;
    padding: 30px 0;
}
